body {
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.App {
  max-width: 900px;
  margin: 0 auto;
}

.App .App-header {
  font-size: 80px;
  margin: 20px;
  color: #3c4245;
}

.footer {
  font-size: 15px;
  margin: 15px;
  color: #3c4245;
}
.footer a {
  text-decoration: none;
  color: #719192;
}

@media (max-width: 900px) {
  .App .App-header {
    font-size: 40px;
  }

  .footer {
    font-size: 9px;
  }
}
