.Search section {
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px;
}

.Search h1 {
  font-size: 18px;
  color: #3c4245;
}

.Search input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #ddd;
}

.Search form {
  padding: 20px;
  text-align: center;
}

.Search .hint {
  font-size: 15px;
  color: #3c4245;
}

.Search :focus-visible {
  outline: none;
  background-color: rgba(39, 45, 45, 0.02);
}

@media (max-width: 900px) {
  .Search h1 {
    font-size: 13px;
  }

  .Search .hint {
    font-size: 11px;
  }

  .Search form {
    padding: 0px;
    margin-bottom: 5px;
  }
}
