.Search section {
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px;
}

.Search input {
  width: 75%;
  padding: 6px 4px;
  border: 1px solid #ddd;
}

.Search form {
  padding: 20px;
  text-align: center;
}

.Search .hint {
  font-size: 15px;
  margin-top: 5px;
}
